.navbar {
  background-color: #ddd;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0px;
  width: 576px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #aaa;
}