.profile-title {
    display: flex;
    justify-content: space-around;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    background-color: #f5f5f5;
}

.profile-title-title {
    font-weight: bold;
    padding: 10px;
}

.profile-content {
    background-color: #ffffff;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 10px;
}

.profile-content-follows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

.profile-content-info {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.profile-content-info-location 

.profile-content-info-date

.profile-content-follows-followers,
.profile-content-follows-following {
    cursor: pointer;
}

.profile-no-posts-message {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
}